<div class="container">
   
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]="userName">
</div>
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping" [(ngModel)]="email" >
</div>
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping" [(ngModel)]="password">
</div>

<br>

<button class="btn btn-primary" (click)="onClick()">Submit</button>
<br> 

 <table class="table">
    <thead>
        <tr>
            <th *ngIf="buttonClicked==true" scope="col">UserName</th>
            <th *ngIf="buttonClicked==true" scope="col">Email</th>
            <th *ngIf="buttonClicked==true" scope="col">Password</th>
        </tr>
    </thead>
    <tbody>
     <tr *ngFor="let user of users">
      
         <td *ngIf="buttonClicked==true">{{user.Username}}</td>
         <td *ngIf="buttonClicked==true">{{user.Email}}</td>
         <td *ngIf="buttonClicked==true">{{user.Password}}</td>
     </tr>
    </tbody>
</table>


</div>